@{
    ViewBag.Title = "Home Page";
}

<img src="https://www.stratfordcrossing.com/wp-content/uploads/2018/03/hobby_lobby_logo-1.jpg" />
<div>
    <p>Please select a view option.</p>
    <a class="btn btn-primary" href="https://localhost:44376/StorePassword/Password" role="button">Store</a>
</div>
