@{
    ViewBag.Title = "Home Page";
}

<img id="MainLogo" src="https://www.stratfordcrossing.com/wp-content/uploads/2018/03/hobby_lobby_logo-1.jpg" style="width: 550px; height: 250px; object-fit: cover;" s />
<div id="ViewSelection">
    <p style="text-align: center">Please select a view option.</p>
    <span id="buttons">
        <a class="btn btn-primary" href="https://localhost:44376/StorePassword/Index" role="button" style="text-align:center;margin-right:10px;">Store</a>
        <a class="btn btn-primary" href="https://localhost:44376/TransPassword/Index" role="button" style="text-align: center; margin-left: 10px;">Transportation</a>
    </span>
</div>